[Desktop Entry]
Type=Application
Icon=lximage-qt
Exec=lximage-qt %F
StartupNotify=true
Terminal=false
Categories=Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
MimeType=application/pcx;image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/svg+xml;image/svg-xml;image/tiff;image/webp;image/x-bmp;image/x-pcx;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-targa;image/x-tga;
Name=LXImage-Qt
GenericName=Image Viewer
Comment=The LXQt image viewer
Name[ar]=صور LXQt
GenericName[ar]=عارض الصور
Comment[ar]=عارض الصور LXQt
Name[bg]=LXImage-Qt
GenericName[bg]=Преглеждане на изображения (LXImage-Qt)
Comment[bg]=Програма от LXQt за преглеждане на изображения (LXImage-Qt)
Name[ca]=LXImage-Qt
GenericName[ca]=Visualitzador d'imatges
Comment[ca]=El visualitzador d'imatges de LXQt
Name[cs]=LXImage-Qt
GenericName[cs]=Prohlížeč obrázků
Comment[cs]=Prohlížeč obrázků pro LXQt
Name[da]=LXImage-Qt
GenericName[da]=Billedfremviser
Comment[da]=LXQt-billedfremviseren
Name[de]=LXImage-Qt
GenericName[de]=Bildbetrachter
Comment[de]=Der LXQt-Bildbetrachter
Name[el]=LXImage-Qt
GenericName[el]=Προβολέας εικόνων
Comment[el]=Ο προβολέας εικόνων του LXQt
Name[en_GB]=LXImage-Qt
GenericName[en_GB]=Image Viewer
Comment[en_GB]=The LXQt image viewer
Name[es]=LXImage-Qt
GenericName[es]=Visor de imágenes
Comment[es]=El visor de imágenes de LXQt
Name[et]=LXImage-Qt
GenericName[et]=Pildinäitaja
Comment[et]=Pildinäitaja LXQt töölauakeskkonnas
Name[fi]=LXImage-Qt
GenericName[fi]=Kuvankatselu
Comment[fi]=LXQt:n kuvankatseluohjelma
Name[fr]=LXImage-Qt
GenericName[fr]=Visionneuse d'images
Comment[fr]=Visionneuse d'images de LXQt
Name[fur]=LXImage-Qt
GenericName[fur]=Visualizadôr di imagjins
Comment[fur]=Il visualizadôr di imagjins di LXQt
Name[ga]=LXÍomhá
GenericName[ga]=Amharcóir Íomhá
Comment[ga]=An amharcóir íomhá LXQT
Name[gl]=LXImage-Qt
GenericName[gl]=Visor de imaxes
Comment[gl]=O visor de imaxes do LXQt
Name[he]=LXImage-Qt
GenericName[he]=מציג תמונות
Comment[he]=מציג התמונות של LXQt
Name[hi]=LXछवि
GenericName[hi]=छवि दर्शक
Comment[hi]=LXQt छवि दर्शक
Name[hr]=LXImage-Qt
GenericName[hr]=Prikazivač slika
Comment[hr]=LXQt program za prikazivanje slika
Name[hu]=LXImage-Qt
GenericName[hu]=Képmegjelenítő
Comment[hu]=Az LXQt képnézegetője
GenericName[is]=Myndaskoðun
Comment[is]=LXQt myndaskoðarinn
Name[it]=LXImage-Qt
GenericName[it]=Visualizzatore immagini
Comment[it]=Il visualizzatore immagini di LXQt
Name[ja]=LXImage-Qt
GenericName[ja]=イメージビューアー
Comment[ja]=LXQt の画像ビューアーです
Name[ka]=LXImage-Qt
GenericName[ka]=სურათების დათვალიერება
Comment[ka]=LXQT-ის სურათების დათვალიერების პროგრამა
Name[ko]=LXImage-Qt
GenericName[ko]=이미지 뷰어
Comment[ko]=LXQt 이미지 뷰어
Name[lg]=LXImage-Qt
GenericName[lg]=Puloguramu ey'okukebera bifaananyi
Comment[lg]=Puloguramu ey'okukebera ebifaananyi eya mu LXQt
Name[lt]=LXImage-Qt
GenericName[lt]=Paveikslų žiūryklė
Comment[lt]=LXQt paveikslų žiūryklė
Name[nb_NO]=LXImage-Qt
GenericName[nb_NO]=Bildeviser
Comment[nb_NO]=LXQt-bildeviseren
Name[nl]=LXImage-Qt
GenericName[nl]=Afbeeldingsweergave
Comment[nl]=De LXQt-afbeeldingsweergave
Name[oc]=LXImage-Qt
GenericName[oc]=Visionador d'imatges
Comment[oc]=Lo visionador d'imatges de LXQt
Name[pa]=LXImage-Qt
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
Comment[pa]=LXQt ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=LXImage-Qt
GenericName[pl]=Przeglądarka obrazów
Comment[pl]=Przeglądarka obrazów LXQt
Name[pt]=LXImage-Qt
GenericName[pt]=Visualizador de imagens
Comment[pt]=O visualizador de imagens
Name[pt_BR]=LXImage-Qt
GenericName[pt_BR]=Visualizador de Imagens
Comment[pt_BR]=O visualizador de imagens LXQt
Name[ro]=LXImage-Qt
GenericName[ro]=Vizualizator de Imagini
Comment[ro]=Vizualizatorul de Imagini LXQt
Name[ru]=LXImage-Qt
GenericName[ru]=Просмотрщик изображений
Comment[ru]=Просмотрщик изображений LXQt
Name[si]=LXImage
GenericName[si]=පින්තූර බලන්නා
Comment[si]=LXQt පින්තූර බලන්නා
Name[sk]=LXImage-Qt
GenericName[sk]=Prehliadač obrázkov
Comment[sk]=Prehliadač obrázkov pre LXQt
Name[sl]=LXImage-Qt
GenericName[sl]=Pregledovalnik slik
Comment[sl]=Pregledovalnik slik za LXQt
Name[tr]=LXImage-Qt
GenericName[tr]=Resim Görüntüleyici
Comment[tr]=LXQt resim görüntüleyici
Name[uk]=LXImage-Qt
GenericName[uk]=Переглядач зображень
Comment[uk]=LXQt переглядач зображень
Name[vi]=LXImage-Qt
GenericName[vi]=Trình xem Ảnh
Comment[vi]=Trình xem ảnh LXQt
Name[zh_CN]=LXImage-Qt
GenericName[zh_CN]=图像查看器
Comment[zh_CN]=LXQt 图像查看器
Name[zh_TW]=LXImage-Qt
GenericName[zh_TW]=影像圖檔檢視器
Comment[zh_TW]=LXQt 圖片檢視器
