[Desktop Entry]
Type=Application
Exec=lxqt-config-globalkeyshortcuts
Icon=preferences-desktop-keyboard
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name=Shortcut Keys
GenericName=Keyboard Shortcut Settings
Comment=Configure global shortcut keys (X11)
Name[ar]=مفاتيح الاختصار
GenericName[ar]=إعدادات اختصار لوحة المفاتيح
Comment[ar]=اعداد مفاتيح الاختصار العالمية (X11)
Name[bg]=Клавишни комбинации
GenericName[bg]=Настройване на клавишни комбинации
Comment[bg]=Настройване на системни клавишни комбинации (Х11)
Name[ca]=Tecles de les dreceres
GenericName[ca]=Ajusts de les dreceres de teclat
Comment[ca]=Configureu les tecles de dreceres globals (X11)
Name[cs]=Klávesové zkratky
Comment[cs]=Nastavit globální klávesové zkratky v LXQt
GenericName[cs]=Nastavení globálních klávesových zkratek
Name[da]=Genvejstaster
GenericName[da]=Indstillinger for tastaturgenveje
Comment[da]=Indstil genvejstaster for LXQt (X11)
Name[de]=Kurzbefehl-Konfiguration
GenericName[de]=Globale Kurzbefehlkonfiguration
Comment[de]=Konfiguration der globalen Kurzbefehle (X11)
Name[el]=Πλήκτρα συντομεύσεων
GenericName[el]=Ρυθμίσεις συντομεύσεων πληκτρολογίου
Comment[el]=Διαμόρφωση των πλήκτρων καθολικών συντομεύσεων (X11)
Name[es]=Atajos de teclado
GenericName[es]=Configuración de los atajos de teclado
Comment[es]=Configurar los atajos de teclado globales (X11)
Name[es_VE]=Configuracion de atajos de LXQt
Comment[es_VE]=Configura atajos de teclado para el escritorio LXQt
GenericName[es_VE]=Configuracion de Atajos globales de LXQt
Name[et]=Kiirklahvid
GenericName[et]=Kiirklahvide seadistused
Comment[et]=Seadista üldiseid kiirklahve (X11)
Name[eu]=LXQt lasterbideen konfigurazioa
Comment[eu]=Konfiguratu LXQt mahaigainaren lasterbide globalak
GenericName[eu]=LXQt lasterbide globalen konfigurazioa
Name[fi]=Pikanäppäimet
GenericName[fi]=Pikanäppäinasetukset
Comment[fi]=Määritä työpöydänlaajuiset pikanäppäimet (X11)
Name[fr]=Touches de raccourcis
GenericName[fr]=Configuration des touches de raccourcis
Comment[fr]=Configurer les raccourcis clavier globaux (X11)
Name[he]=מקשי קיצור
GenericName[he]=הגדרות מקשי קיצור במקלדת
Comment[he]=הגדרת מקשי קיצור כלליים (X11)
Name[hr]=Tipkovni prečaci
GenericName[hr]=Postavke tipkovnih prečaca
Comment[hr]=Konfiguriraj globalne tipkovne prečace (X11)
Name[hu]=Gyorsbillentyűk
Comment[hu]=LXQt gyorsbillentyűinek beállítása
GenericName[hu]=Gyorsbillentyűk beállítása
Name[it]=Scorciatoie globali
GenericName[it]=Configurazione delle scorciatoie di LXQt
Comment[it]=Configura le scorciatoie globali di tastiera (X11)
Name[ja]=ショートカットキー
GenericName[ja]=キーボード・ショートカットの設定
Comment[ja]=グローバルショートカットキーを設定します (X11)
Name[ka]=მალსახმობი ღილაკები
GenericName[ka]=კლავიატურის მალსახმობების მორგება
Comment[ka]=გლობალური მალსახმობი ღილაკების მორგება (X11)
Name[kk]=Пернетақта жарлықтары
GenericName[kk]=Пернетақта жарлықтарын баптау
Comment[kk]=LXQt ішіндегі пернетақта жарлықтарын баптау
Name[ko]=단축키
GenericName[ko]=키보드 단축키 설정
Comment[ko]=전역 단축키(X11)를 구성합니다
Name[lg]=Mapeesa agagonza emirimu
GenericName[lg]=Enteekateeka z'amapeesa agagonza emirimu
Comment[lg]=Teekateeka mapeesa agagonza emirimu (X11)
Name[lt]=Spartieji klavišai
GenericName[lt]=Sparčiųjų klavišų nustatymai
Comment[lt]=Konfigūruoti visuotinius sparčiuosius klavišus (X11)
Name[nb_NO]=Snarveistaster
GenericName[nb_NO]=Tastatursnarveisinnstillinger
Comment[nb_NO]=Sett opp snarveistaster i LXQt
Name[nl]=Sneltoetsen
GenericName[nl]=Sneltoetsinstellingen
Comment[nl]=Stel de globale sneltoetsen in (X11)
Name[oc]=Acorchis
GenericName[oc]=Paramètres d’acorchis clavièr
Comment[oc]=Configuracion de las tòcas d’acorchi globalas (X11)
Name[pl]=Konfiguracja skrótów pulpitu LXQt
Comment[pl]=Konfigurowanie globalnych skrótów klawiszowych (X11)
GenericName[pl]=Konfiguracja globalnych skrótów pulpitu LXQt
Name[pt]=Teclas de atalho
GenericName[pt]=Definições das teclas de atalho
Comment[pt]=Configurar teclas de atalho globais (X11)
Name[pt_BR]=Teclas de Atalho
Comment[pt_BR]=Configurar as teclas de atalhos globais (X11)
GenericName[pt_BR]=Configurações dos Atalhos do Teclado
Name[ro]=Configurație acceleratori LXQt
Comment[ro]=Configurează acceleratorii globali pentru LXQt
GenericName[ro]=Configurație acceleratori globali LXQt
Name[ru]=Сочетания клавиш
Comment[ru]=Настроить глобальные сочетания клавиш (X11)
GenericName[ru]=Настроить сочетания клавиш
Name[sk]=Klávesové skratky
GenericName[sk]=Nastavenie klávesových skratiek
Comment[sk]=Konfigurácia klávesových skratiek (X11)
Name[sl]=Bližnjične tipke
GenericName[sl]=Nastavitve bližnjičnih tipk
Comment[sl]=Nastavi bližnjice za tipkovnico v LXQt
Name[th_TH]=การตั้งค่าปุ่มลัด LXQt
Comment[th_TH]=ตั้งค่าปุ่มลัดหลักของ LXQt เดกส์ท็อป
GenericName[th_TH]=การตั้งค่าปุ่มลัดหลัก LXQt
Name[tr]=Kısayol Tuşları
GenericName[tr]=Klavye Kısayolu Ayarları
Comment[tr]=Genel kısayol tuşlarını yapılandırma (X11)
Name[uk]=Комбінації клавіш
Comment[uk]=Налаштування глобальних комбінацій клавіш (X11)
GenericName[uk]=Налаштування глобальних комбінацій клавіш
Name[vi]=Phím Tắt
GenericName[vi]=Cài đặt Lối tắt Bàn phím
Comment[vi]=Tinh chỉnh phím tắt trong LXQt
Name[zh_CN]=键盘快捷键配置
Comment[zh_CN]=配置 LXQt 桌面全局快捷键（X11)
GenericName[zh_CN]=LXQt 全局快捷键配置
Name[zh_TW]=快速鍵按鍵
Comment[zh_TW]=設定整體快速鍵按鍵 (X11)
GenericName[zh_TW]=鍵盤快速鍵設定
