[Desktop Entry]
Type=Application
Exec=obconf-qt
Categories=Qt;Settings;DesktopSettings;
Icon=obconf-qt
StartupNotify=true

Name=Openbox Settings
GenericName=Window Manager Settings
Comment=Configure the Openbox window manager
Name[ar]=إعدادات Openbox
GenericName[ar]=إعدادات مدير النوافذ
Comment[ar]=اعداد مدير نافذة Openbox
Name[bg]=Настройки на Openbox
GenericName[bg]=Настройки на мениджър на прозорци
Comment[bg]=Конфигуриране на Openbox
Name[ca]=Ajusts d'Openbox
GenericName[ca]=Ajusts del gestor de finestres
Comment[ca]=Configureu el gestor de finestres Openbox
Name[cs]=Nastavení pro Openbox
GenericName[cs]=Nastavení správce oken
Comment[cs]=Nastavit správce oken Openbox
Name[da]=Openbox-indstillinger
GenericName[da]=Indstillinger for vindueshåndtering
Comment[da]=Konfigurer Openbox-vindueshåndteringen
Name[de]=Fenstermanager Openbox
GenericName[de]=Openbox Einstellungen
Comment[de]=Konfiguration des Fenstermanagers Openbox (Qt-Version)
Name[el]=Ρυθμίσεις Openbox
GenericName[el]=Ρυθμίσεις του διαχειριστή παραθύρων
Comment[el]=Διαμόρφωση του διαχειριστή παραθύρων Openbox
Name[es]=Configuración de Openbox
GenericName[es]=Configuración del gestor de ventanas
Comment[es]=Configurar el gestor de ventanas Openbox
Name[et]=Openbox'i seadistused
GenericName[et]=Aknahalduri seadistused
Comment[et]=Seadista Openbox aknahaldurit
Name[fi]=Openboxin asetukset
GenericName[fi]=Ikkunanhallintaohjelman asetukset
Comment[fi]=Määritä Openbox-ikkunanhallintaohjelma
Name[fr]=Gestionnaire de fenêtres Openbox
GenericName[fr]=Paramétrage de Openbox
Comment[fr]=Paramétrage du gestionnaire de fenêtres Openbox (Version Qt)
Name[gl]=Configuración do Openbox
GenericName[gl]=Configuración do xestor de xanelas
Comment[gl]=Configurar o xestor de xanelas Openbox
Name[he]=הגדרות Openbox
GenericName[he]=הגדרות מנהל החלונות
Comment[he]=הגדרת מנהל החלונות Openbox
Name[hr]=Openbox postavke
GenericName[hr]=Postavke upravljača prozora
Comment[hr]=Konfiguriraj Openbox upravljača prozora
Name[hu]=Openbox beállítások
GenericName[hu]=Ablakkezelő beállítások
Comment[hu]=Az Openbox ablakkezelő beállítása
Name[id]=Pengaturan Openbox
GenericName[id]=Penganturan Manajer Jendela
Comment[id]=Mengkonfirgurasi manajer jendela Openbox
Name[it]=Impostazioni Openbox
GenericName[it]=Impostazioni del gestore finestre
Comment[it]=Configura il gestore finestre Openbox
Name[ja]=Openbox 設定 (Qt 版)
GenericName[ja]=ウィンドウマネージャーの設定 (Qt バージョン)
Comment[ja]=Openbox ウィンドウマネージャーを設定します (Qt バージョン)
Name[kk]=Openbox баптаулары
GenericName[kk]=Терезелер басқарушысы баптаулары
Comment[kk]=Openbox терезелер басқарушысын баптау
Name[ko]=Openbox 설정
GenericName[ko]=창 관리자 설정
Comment[ko]=Openbox 창 관리자 구성하기
Name[lg]=Enteekateeka za Openbox
GenericName[lg]=Obutegeke bwa kiteekateekamadirisa
Comment[lg]=Tegeka ekiteekateekamadirisa kya Openbox
Name[lt]=Openbox nustatymai
GenericName[lt]=Langų tvarkytuvės nustatymai
Comment[lt]=Konfigūruoti Openbox langų tvarkytuvę
Name[nb_NO]=Openbox-innstillinger
GenericName[nb_NO]=Vindusbehandlingsinnstillinger
Comment[nb_NO]=Sett opp Openbox-vindusbehandleren
Name[nl]=Openbox-instellingen
GenericName[nl]=Vensterbeheerinstellingen
Comment[nl]=Stel de Openbox-vensterbeheerder in
Name[oc]=Gestionari de fenèstras Openbox
GenericName[oc]=Paramètres de fenèstras Openbox
Comment[oc]=Configurar lo gestionari de fenèstra Openbox (Version Qt)
Name[pl]=Edytor konfiguracji Openbox
GenericName[pl]=Ustawienia menedżera okien
Comment[pl]=Skonfiguruj menedżer okien Openbox
Name[pt]=Definições do Openbox
GenericName[pt]=Definições do gestor de janelas
Comment[pt]=Configurar o gestor de janelas Openbox
Name[ru_RU]=Настройки Openbox
GenericName[ru_RU]=Настройки менеджера окон
Comment[ru_RU]=Настроить оконный менеджер Openbox
Name[sk]=Nastavenia Openbox-u
GenericName[sk]=Nastavenia správcu okien
Comment[sk]=Nastaviť Openbox - správcu okien
Name[tr]=Openbox Ayarları
GenericName[tr]=Pencere Yöneticisi Ayarları
Comment[tr]=Openbox pencere yöneticisini yapılandırma
Name[uk]=Налаштування Openbox
GenericName[uk]=Налаштування віконного менеджера
Comment[uk]=Налаштування віконного менеджера Openbox
Name[vi]=Cài đặt Openbox
GenericName[vi]=Cài đặt Trình quản lí Cửa số
Comment[vi]=Tinh chỉnh trình quản lí cửa sổ Openbox
Name[zh_CN]=Openbox 设置
GenericName[zh_CN]=窗口管理器设置
Comment[zh_CN]=配置窗口管理器
Name[zh_TW]=Openbox 設定
GenericName[zh_TW]=視窗管理員設定
Comment[zh_TW]=設定視窗管理員
