[Desktop Entry]
Version=1.0
Name[ar]=تقويم أوراج
Name[ast]=Calendariu d'Orage
Name[be]=Каляндар Orage
Name[bg]=Календар Orage
Name[ca]=Calendari Orage
Name[cs]=Kalendář Orage
Name[da]=Orage kalender
Name[de]=Orage-Kalender
Name[el]=Ημερολόγιο Orage
Name[en_AU]=Orage Calendar
Name[en_GB]=Orage Calendar
Name[es]=Calendario Orage
Name[et]=Orage'i kalender
Name[eu]=Orage egutegia
Name[fi]=Orage-kalenteri
Name[fr]=Calendrier - Orage
Name[gl]=Calendario Orage
Name[he]=יומן Orage 
Name[hr]=Orage kalendar
Name[hu]=Orage naptár
Name[hy_AM]=Orage աւրացոյց
Name[id]=Kalender Orage
Name[is]=Orage dagatal
Name[it]=Calendario di Orage
Name[ja]=Orage カレンダー
Name[kk]=Orage күнтізбе бағдарламасы
Name[ko]=오라주 달력
Name[lt]=Orage kalendorius
Name[lv]=Orage kalendārs
Name[ms]=Kalendar Orage
Name[nb]=Orage-kalender
Name[nl]=Orage kalender
Name[nn]=Orage-kalender
Name[oc]=Calendièr - Orage
Name[pl]=Kalendarz Orage
Name[pt_BR]=Calendário Orage
Name[pt]=Calendário Orage
Name[ro]=Calendar Orage
Name[ru]=Календарь Orage
Name[sk]=Kalendár Orage
Name[sl]=Koledar Orage
Name[sq]=Kalendar Orage
Name[sr]=Оражов календар
Name[sv]=Orage-kalendern
Name[th]=ปฏิทิน Orage
Name[tr]=Orage  Takvim
Name[ug]=Orage يىلنامە
Name[uk]=Календар Orage
Name[zh_CN]=Orage 日历
Name[zh_TW]=Orage 行事曆
Name=Orage Calendar
Comment[am]=የገበታ ካለንደር
Comment[ar]=تقويم سطح المكتب
Comment[ast]=Calendariu d'escritoriu
Comment[be]=Настольны каляндар
Comment[bg]=Календар за работният плот
Comment[ca]=Calendari d'escriptori
Comment[cs]=Kalendář pracovního prostředí
Comment[da]=Skrivebordskalender
Comment[de]=Arbeitsplatz-Kalender
Comment[el]=Ημερολόγιο γραφείου
Comment[en_AU]=Desktop calendar
Comment[en_GB]=Desktop calendar
Comment[eo]=Labortabla kalendaro
Comment[es]=Calendario de escritorio
Comment[et]=Töölaua kalender
Comment[eu]=Idazmahai egutegia
Comment[fi]=Työpöytäkalenteri
Comment[fr]=Calendrier du bureau
Comment[gl]=Calendario para o escritorio
Comment[he]=לוח שנה לשולחן העבודה
Comment[hr]=Kalendar radne površine
Comment[hu]=Asztali naptár
Comment[hy_AM]=Աշխատասեղանի աւրացոյց
Comment[id]=Kalender destop
Comment[is]=Skjáborðsdagatal
Comment[it]=Calendario per la scrivania
Comment[ja]=卓上カレンダー
Comment[kk]=Жұмыс үстел күнтізбесі
Comment[ko]=데스크톱 달력
Comment[lt]=Darbalaukio kalendorius
Comment[lv]=Darbavirsmas kalendārs
Comment[ms]=Kalendar desktop
Comment[nb]=Skrivebordskalender
Comment[nl]=Bureaubladkalender
Comment[nn]=Skrivebordskalender
Comment[oc]=Calendièr del burèu
Comment[pl]=Kalendarz pulpitu
Comment[pt_BR]=Calendário do Ambiente de Trabalho
Comment[pt]=Calendário do ambiente de trabalho
Comment[ro]=Calendar desktop
Comment[ru]=Простой календарь
Comment[sk]=Kalendár pracovnej plochy
Comment[sl]=Namizni koledar
Comment[sq]=Kalendar desktopi
Comment[sr]=Календар радне површи
Comment[sv]=Skrivbordskalender
Comment[th]=ปฏิทินบนพื้นโต๊ะ
Comment[tr]=Masaüstü takvimi
Comment[ug]=ئۈستەلئۈستى يىلنامىسى
Comment[uk]=Календар стільниці
Comment[ur_PK]=ڈیسک ٹاپ کیلینڈر
Comment[ur]=ڈیسک ٹاپ کیلینڈر
Comment[vi]=Lịch màn hình
Comment[zh_CN]=桌面日历
Comment[zh_TW]=桌面行事曆
Comment=Desktop calendar
Exec=orage %F
Icon=org.xfce.orage
StartupNotify=true
MimeType=text/calendar;
Terminal=false
Type=Application
Categories=X-XFCE;Office;Calendar;GTK;
GenericName[am]=ካለንደር
GenericName[ar]=تقويم
GenericName[ast]=Calendariu
GenericName[be]=Каляндар
GenericName[bg]=Календар
GenericName[ca]=Calendari
GenericName[cs]=Kalendář
GenericName[da]=Kalender
GenericName[de]=Kalender
GenericName[el]=Ημερολόγιο
GenericName[en_AU]=Calendar
GenericName[en_GB]=Calendar
GenericName[eo]=Kalendaro
GenericName[es]=Calendario
GenericName[et]=Kalender
GenericName[eu]=Egutegia
GenericName[fi]=Kalenteri
GenericName[fr]=Calendrier
GenericName[gl]=Calendario
GenericName[he]=לוח שנה
GenericName[hr]=Kalendar
GenericName[hu]=Naptár
GenericName[hy_AM]=Աւրացոյց
GenericName[id]=Kalender
GenericName[is]=Dagatal
GenericName[it]=Calendario
GenericName[ja]=カレンダー
GenericName[kk]=Күнтізбе
GenericName[ko]=달력
GenericName[lt]=Kalendorius
GenericName[lv]=Kalendārs
GenericName[ms]=Kalendar
GenericName[nb]=Kalender
GenericName[nl]=Kalender
GenericName[nn]=Kalender
GenericName[oc]=Calendièr
GenericName[pl]=Kalendarz
GenericName[pt_BR]=Calendário
GenericName[pt]=Calendário
GenericName[ro]=Calendar
GenericName[ru]=Календарь
GenericName[sk]=Kalendár
GenericName[sl]=Koledar
GenericName[sq]=Kalendar
GenericName[sr]=Календар
GenericName[sv]=Kalender
GenericName[th]=ปฏิทิน
GenericName[tr]=Takvim
GenericName[ug]=يىلنامە
GenericName[uk]=Календар
GenericName[ur_PK]=کیلینڈر
GenericName[ur]=کیلینڈر
GenericName[vi]=Lịch
GenericName[zh_CN]=日历
GenericName[zh_TW]=行事曆
GenericName=Calendar
Actions=Today;NewAppointment;Preferences;
Keywords[bg]=календар;дата,график,среща,време;
Keywords[ca]=calendari;data;horari;cita;hora;
Keywords[cs]=kalendář;datum;plán;schůzka;čas;
Keywords[da]=kalender;dato;planlægning;møde;tid;
Keywords[de]=Kalender;Datum;Terminkalender;Termin;Uhrzeit;
Keywords[en_GB]=calendar;date;schedule;appointment;time;
Keywords[es]=calendario;fecha;horario;cita;hora;
Keywords[et]=kalender;kuupäev;graafik;koosolek;sündmus;üritus;kohtumine;aeg;kellaaeg;
Keywords[fi]=calendar;date;schedule;appointment;time;kalenteri;päiväys;aikataulu;tapaaminen;aika;
Keywords[fr]=calendar;date;schedule;appointment;time;calendrier;échéancier;agenda;emploi du temps;rendez-vous;heure;temps;
Keywords[gl]=calendar;date;schedule;appointment;time;calendario;data;programación;cita;horario;
Keywords[he]=calendar;date;schedule;appointment;time;
Keywords[it]=calendar;date;schedule;appointment;time;
Keywords[ja]=カレンダー;日付;スケジュール;予定;時間;
Keywords[lt]=kalendorius;data;tvarkaraštis;darbotvarkė;tvarkarastis;darbotvarke;planas;grafikas;paskyrimas;susitikimas;laikas;
Keywords[nb]=kalender;dato;møte;avtale;tid;
Keywords[nl]=kalender;datum;plannen;afspraak;tijd;
Keywords[oc]=calendièr;calendari;data;rendètz-vos;ora;temps;agenda;
Keywords[pl]=kalendarz;data;harmonogram;spotkanie;czas;
Keywords[pt_BR]=calendário;data;agenda;compromisso;horário;
Keywords[pt]=calendário;data;agenda;horário;compromisso;marcação;hora;
Keywords[ro]=calendar;dată; planificare;eveniment;întâlnire;programare;timp;
Keywords[ru]=календарь;дата;расписание;встреча;время;
Keywords[sk]=calendar;date;schedule;appointment;time;
Keywords[sq]=kalendar;datë;planifikim;takim;kohë;
Keywords[sr]=календар;дан;датум;састанак;обавеза;заказано;време;
Keywords[sv]=kalender;datum;schema;möte;tid;
Keywords[th]=ปฏิทิน;วันที่;กำหนดการ;นัดหมาย;เวลา;
Keywords[tr]=calendar;date;schedule;appointment;time;
Keywords[zh_CN]=calendar;date;schedule;appointment;time;日历;日期;日程;约会;时间;
Keywords[zh_TW]=calendar;date;schedule;appointment;time;
Keywords=calendar;date;schedule;appointment;time;

[Desktop Action Today]
Name[bg]=Покажи днешните
Name[ca]=Mostra avui
Name[cs]=Zobrazit dnešek
Name[da]=Vis i dag
Name[de]=Heute anzeigen
Name[el]=Σήμερα
Name[en_GB]=Show Today
Name[es]=Mostrar hoy
Name[et]=Näita tänast päeva
Name[fi]=Näytä kuluva päivä
Name[fr]=Afficher aujourd’hui
Name[gl]=Amosar hoxe
Name[he]=הצג היום
Name[it]=Mostra oggi
Name[ja]=今日を表示
Name[ko]=오늘 표시
Name[lt]=Rodyti šiandieną
Name[nb]=Vis idag
Name[nl]=Vandaag tonen
Name[oc]=Afichar uèi
Name[pl]=Wyświetl dzisiaj
Name[pt_BR]=Mostrar hoje
Name[pt]=Mostrar hoje
Name[ro]=Afișează ziua de azi
Name[ru]=Показать этот день
Name[sk]=Zobraziť dnešok
Name[sl]=Današnji prikaz
Name[sq]=Shfaq të Sotmen
Name[sr]=Прикажи данас
Name[sv]=Visa idag
Name[th]=แสดงวันนี้
Name[tr]=Bugünü Göster
Name[zh_CN]=显示今日
Name[zh_TW]=顯示今日
Name=Show Today
Exec=orage --today

[Desktop Action NewAppointment]
Name[bg]=Нова среща
Name[ca]=Nou esdeveniment
Name[cs]=Nová schůzka
Name[da]=Ny aftale
Name[de]=Neuer Termin
Name[el]=Νέα καταχώριση
Name[en_GB]=New Appointment
Name[es]=Nueva cita
Name[et]=Uus kohtumine
Name[fi]=Uusi tapaaminen
Name[fr]=Nouveau rendez-vous
Name[gl]=Nova cita
Name[he]=פגישה חדשה
Name[it]=Nuovo appuntamento
Name[ja]=新しい予定
Name[ko]=새 약속
Name[lt]=Naujas paskyrimas
Name[nb]=Ny avtale
Name[nl]=Nieuwe afspraak
Name[oc]=Rendètz-vos novèl
Name[pl]=Nowe spotkanie
Name[pt_BR]=Novo compromisso
Name[pt]=Novo compromisso
Name[ro]=Eveniment nou
Name[ru]=Новая встреча
Name[sk]=Nová udalosť
Name[sl]=Nov sestanek
Name[sq]=Takim i Ri
Name[sr]=Нови састанак
Name[sv]=Nytt möte
Name[th]=สร้างนัดหมายใหม่
Name[tr]=Yeni Randevu
Name[uk]=Нова подія
Name[zh_CN]=新建约会
Name[zh_TW]=新約會
Name=New Appointment
Exec=orage --new-appointment

[Desktop Action Preferences]
Name[am]=የዖራጌ ምርጫዎች
Name[ar]=تفضيلات أوراج
Name[ast]=Preferencies d'Orage
Name[be]=Налады Orage
Name[bg]=Настройки на Orage
Name[ca]=Preferències d'Orage
Name[cs]=Nastavení aplikace Orage
Name[da]=Orage-præferencer
Name[de]=Einstellungen für Orage
Name[el]=Προτιμήσεις Orage
Name[en_AU]=Orage Preferences
Name[en_GB]=Orage Preferences
Name[eo]=Parametroj de Oraĝo
Name[es]=Preferencias de Orage
Name[et]=Orage'i eelistused
Name[eu]=Orage hobespenak
Name[fi]=Oragen asetukset
Name[fr]=Préférences d’Orage
Name[gl]=Preferencias de Orage
Name[he]=העדפות Orage
Name[hr]=Orage osobitosti
Name[hu]=Orage beállításai
Name[hy_AM]=Orage Յատկութիւններ
Name[id]=Pengaturan Orage
Name[is]=Kjörstillingar Orage
Name[it]=Preferenze di Orage
Name[ja]=Orage の設定
Name[kk]=Orage баптаулары
Name[ko]=오라주 기본 설정
Name[lt]=Orage nuostatos
Name[lv]=Orage uzstādījumi
Name[ms]=Keutamaan Orage
Name[nb]=Orage-innstillinger
Name[nl]=Orage voorkeuren
Name[nn]=Orage-innstillingar
Name[oc]=Preferéncias d'Orage
Name[pl]=Preferencje kalendarza
Name[pt_BR]=Preferências do Orage
Name[pt]=Preferências do Orage
Name[ro]=Preferințe Orage
Name[ru]=Настройки Orage
Name[sk]=Predvoľby Orage
Name[sl]=Nastavitve Orage
Name[sq]=Parapëlqime për Orage-in
Name[sr]=Поставке Оража
Name[sv]=Inställningar för Orage
Name[th]=ปรับแต่ง Orage
Name[tr]=Orage Özellikleri
Name[ug]=Orage خاسلىقى
Name[uk]=Уподобання Orage
Name[ur_PK]=Orage کی ترجیحات
Name[ur]=Orage کی ترجیحات
Name[vi]=Tuỳ thích
Name[zh_CN]=Orage 首选项
Name[zh_TW]=Orage 偏好設定
Name=Orage Preferences
Exec=orage --preferences
