[Desktop Entry]
Version=1.0
Name[ar]=إعداد أوراج
Name[ast]=Preferencies de Orage
Name[be]=Налады Orage
Name[bg]=Настройки на Orage
Name[ca]=Preferències d'Orage
Name[cs]=Nastavení aplikace Orage
Name[da]=Orage-præferencer
Name[de]=Einstellungen für Orage
Name[el]=Προτιμήσεις Orage
Name[en_AU]=Orage preferences
Name[en_GB]=Orage preferences
Name[es]=Preferencias de Orage
Name[et]=Orage'i eelistused
Name[eu]=Orage hobespenak
Name[fi]=Oragen asetukset
Name[fr]=Préférences d’Orage
Name[gl]=Preferencias de Orage
Name[he]=העדפות Orage 
Name[hr]=Orage osobitosti
Name[hu]=Orage beállításai
Name[hy_AM]=Orage յատկութիւններ
Name[id]=Pengaturan Orage
Name[is]=Kjörstillingar Orage
Name[it]=Preferenze di Orage
Name[ja]=Orage の設定
Name[kk]=Orage баптаулары
Name[ko]=오라주 기본 설정
Name[lt]=Orage nuostatos
Name[lv]=Orage uzstādījumi
Name[ms]=Keutamaan Orage
Name[nb]=Orage-innstillinger
Name[nl]=Voorkeuren van Orage
Name[nn]=Orage-innstillingar
Name[oc]=Preferéncias d'Orage
Name[pl]=Preferencje kalendarza
Name[pt_BR]=Preferências do Orage
Name[pt]=Preferências do Orage
Name[ro]=Preferințe Orage
Name[ru]=Настройки Orage
Name[sk]=Predvoľby Orage
Name[sl]=Nastavitve Orage
Name[sq]=Parapëlqime për Orage-in
Name[sr]=Поставке Оража
Name[sv]=Inställningar för Orage
Name[th]=ปรับแต่ง Orage
Name[tr]=Orage özellikleri
Name[ug]=Orage تەڭشىكى
Name[uk]=Уподобання Orage
Name[zh_CN]=Orage 首选项
Name[zh_TW]=Orage 偏好設定
Name=Orage preferences
Comment[ar]=ضبط تطبيق تقويم إكسفس 4 (أوراج)
Comment[ast]=Axustes pa la aplicación de calandariu de Xfce 4 (Orage)
Comment[be]=Налады праграмы каляндара (Orage) для Xfce 4
Comment[bg]=Настройки на календара на Xfce 4 (Orage)
Comment[ca]=Ajusts per a l'aplicació de calendari de Xfce 4 (Orage)
Comment[cs]=Nastavení Kalendáře pro Xfce 4 (Orage)
Comment[da]=Indstillinger til Xfce 4-kalenderprogrammet (Orage)
Comment[de]=Einstellungen für die  Kalenderanwendung von Xfce 4 (Orage)
Comment[el]=Ρυθμίσεις εφαρμογής ημερολογίου του Xfce 4 (Orange)
Comment[en_AU]=Settings for the Xfce 4 Calendar Application (Orage)
Comment[en_GB]=Settings for the Xfce 4 Calendar Application (Orage)
Comment[es]=Configuración de la aplicación de calendario de Xfce 4 (Orage)
Comment[et]=Xfce 4 kalendrirakenduse (Orage) seadistused
Comment[eu]=Xfce 4 egutegi aplikazioaren (Orage) ezarpenak
Comment[fi]=Asetukset Xfce 4:n kalenterisovellukselle (Orage)
Comment[fr]=Paramètres pour l’Application Calendrier de Xfce 4 (Orage)
Comment[gl]=Configuracións para a aplicación de calendario do Xfce 4 (Orage)
Comment[he]=הגדרות עבור (Orage) תוכנת יומן Xfce 4 
Comment[hr]=Postavke za  Xfce 4 kalendarski program (Orage)
Comment[hu]=Az Xfce 4 naptáralkalmazás (Orage) beállításai
Comment[hy_AM]=Կարգաւորումներ Xfce 4 աւրացոյց ծրագրի (Orage)֊ի համարք 
Comment[id]=Pengaturan untuk Aplikasi Kalender Xfce 4 (Orage)
Comment[is]=Stillingar fyrir Xfce 4 dagatalsforritið (Orage)
Comment[it]=Impostazioni per l'applicazione calendario di Xfce4 (Orage)
Comment[ja]=Xfce 4 カレンダーアプリケーション (Orage) の設定を行います
Comment[kk]=Xfce 4 күнтізбе қолданбасының (Orage) баптаулары 
Comment[ko]=Xfce 4 달력 프로그램(오라주)을 설정합니다
Comment[lt]=Xfce4 kalendoriaus programos (Orage) nustatymai
Comment[lv]=Uzstādījumi Xfce 4 kalendāra lietotnei (Orage)
Comment[ms]=Tetapan untuk Aplikasi Kalendar Xfce 4 (Orage)
Comment[nb]=Innstillinger for Xfce 4-kalenderprogram (Orage)
Comment[nl]=Instellingen voor de Xfce4-Kalendertoepassing (Orage)
Comment[nn]=Innstillingar for Xfce 4 Kalenderprogram (Orage)
Comment[oc]=Paramètres per l'Aplicacion Calendièr de Xfce 4 (Orage)
Comment[pl]=Konfiguruje ustawienia kalendarza Xfce 4 (Orange)
Comment[pt_BR]=Configurações para o Aplicativo de Calendário do Xfce 4(Orage)
Comment[pt]=Definições para o calendário do Xfce 4 (Orage)
Comment[ro]=Opțiuni pentru aplicația Calendar Xfce 4 (Orage)
Comment[ru]=Параметры календаря Xfce 4 (Orage)
Comment[sk]=Nastavenia pre aplikáciu Kalendár Xfce 4 (Orage)
Comment[sl]=Nastavitve za program koledarja Xfce 4 (Orage)
Comment[sq]=Rregullime për Aplikacionin Kalendat të Xfce-së (Orage)
Comment[sr]=Подешавања за календар Иксфце-а 4 (Ораж)
Comment[sv]=Inställningar för Xfce 4-kalendern (Orage)
Comment[th]=ตั้งค่าโปรแกรมปฏิทินของ Xfce 4 (Orage)
Comment[tr]=Xfce4 Takvim Uygulaması (Orage) için Ayarlar
Comment[ug]=Xfce 4 يىلنامە پروگراممىسى (Orage) نىڭ تەڭشەكلىرى
Comment[uk]=Налаштування для програми Календар (Orage) з Xfce 4 
Comment[zh_CN]=Xfce 4 日历应用程序(Orage)设置
Comment[zh_TW]=設定 Xfce 4 行事曆程式 (Orage)
Comment=Settings for the Xfce 4 Calendar Application (Orage)
Exec=orage -p
Icon=org.xfce.orage
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
OnlyShowIn=XFCE;
GenericName[ar]=تفضيلات التقويم أوراج
GenericName[ast]=Preferencies del calendariu Orage
GenericName[be]=Налады каляндара Orage
GenericName[bg]=Настройки на келендара Orage
GenericName[ca]=Preferències del calendari d'Orage
GenericName[cs]=Nastavení kalendáře Orage
GenericName[da]=Orage kalender-præferencer
GenericName[de]=Einstellungen für den Kalender Orage
GenericName[el]=Προτιμήσεις ημερολογίου Orange
GenericName[en_AU]=Orage Calendar Preferences
GenericName[en_GB]=Orage Calendar Preferences
GenericName[es]=Preferencias del calendario Orage
GenericName[et]=Orage'i kalendri eelistused
GenericName[eu]=Orage egutegi hobespenak
GenericName[fi]=Orage-kalenterin asetukset
GenericName[fr]=Préférences calendrier Orage
GenericName[gl]=Preferencias do calendario Orage
GenericName[he]=העדפות יומן Orage 
GenericName[hr]=Osobitosti Orage kalendara
GenericName[hu]=Orage naptár beállításai
GenericName[hy_AM]=Orage աւրացոյցի յատկութիւններ
GenericName[id]=Pengaturan Kalender Orage
GenericName[is]=Stillingar Orage dagatals
GenericName[it]=Preferenze del calendario di Orage
GenericName[ja]=Orage カレンダー設定
GenericName[kk]=Orage күнтізбе баптаулары
GenericName[ko]=오라주 달력 기본 설정
GenericName[lt]=Orage kalendoriaus nuostatos
GenericName[lv]=Orage kalendāra uzstādījumi
GenericName[ms]=Keutamaan Kalendar Orage
GenericName[nb]=Innstillinger for Orage-kalenderen
GenericName[nl]=Orage kalendervoorkeuren
GenericName[nn]=Innstillingar for Orage-kalenderen
GenericName[oc]=Preferéncias calendièr Orage
GenericName[pl]=Preferencje kalendarza Orage
GenericName[pt_BR]=Preferências do calendário Orage
GenericName[pt]=Preferências do calendário Orage
GenericName[ro]=Preferințe calendar Orage
GenericName[ru]=Параметры календаря Orage
GenericName[sk]=Predvoľby kalendára Orage
GenericName[sl]=Nastavitve koledarja Orage
GenericName[sq]=Parapëlqime Kalendari Orage
GenericName[sr]=Поставке Оражовог календара
GenericName[sv]=Inställningar för Orage-kalendern
GenericName[th]=ตั้งค่าปฏิทิน Orage
GenericName[tr]=Orage Takvim Özellikleri
GenericName[ug]=Orage يىلنامە تەڭشىكى
GenericName[uk]=Уподобання годинника Orage
GenericName[zh_CN]=Orage 日历首选项
GenericName[zh_TW]=Orage 行事曆偏好設定
GenericName=Orage Calendar Preferences
X-XfceSettingsName=Calendar
Keywords[bg]=календар;дата,график,среща,време;
Keywords[ca]=calendari;data;horari;cita;hora;
Keywords[cs]=kalendář;datum;plán;schůzka;čas;
Keywords[da]=kalender;dato;planlægning;møde;tid;
Keywords[de]=Kalender;Datum;Terminkalender;Termin;Uhrzeit;
Keywords[en_GB]=calendar;date;schedule;appointment;time;
Keywords[es]=calendario;fecha;horario;cita;hora;
Keywords[et]=kalender;kuupäev;graafik;koosolek;sündmus;üritus;kohtumine;aeg;kellaaeg;
Keywords[fi]=calendar;date;schedule;appointment;time;kalenteri;päiväys;aikataulu;tapaaminen;aika;
Keywords[fr]=calendar;date;schedule;appointment;time;calendrier;échéancier;agenda;emploi du temps;rendez-vous;heure;temps;
Keywords[gl]=calendar;date;schedule;appointment;time;calendario;data;programación;cita;horario;
Keywords[he]=calendar;date;schedule;appointment;time;
Keywords[it]=calendar;date;schedule;appointment;time;
Keywords[ja]=カレンダー;日付;スケジュール;予定;時間;
Keywords[lt]=kalendorius;data;tvarkaraštis;darbotvarkė;tvarkarastis;darbotvarke;planas;grafikas;paskyrimas;susitikimas;laikas;
Keywords[nb]=kalender;dato;møte;avtale;tid;
Keywords[nl]=kalender;datum;plannen;afspraak;tijd;
Keywords[oc]=calendièr;calendari;data;rendètz-vos;ora;temps;agenda;
Keywords[pl]=kalendarz;data;harmonogram;spotkanie;czas;
Keywords[pt_BR]=calendário;data;agenda;compromisso;horário;
Keywords[pt]=calendário;data;agenda;horário;compromisso;marcação;hora;
Keywords[ro]=calendar;dată; planificare;eveniment;întâlnire;programare;timp;
Keywords[ru]=календарь;дата;расписание;встреча;время;
Keywords[sk]=calendar;date;schedule;appointment;time;
Keywords[sq]=kalendar;datë;planifikim;takim;kohë;
Keywords[sr]=календар;дан;датум;састанак;обавеза;заказано;време;
Keywords[sv]=kalender;datum;schema;möte;tid;
Keywords[th]=ปฏิทิน;วันที่;กำหนดการ;นัดหมาย;เวลา;
Keywords[tr]=calendar;date;schedule;appointment;time;
Keywords[zh_CN]=calendar;date;schedule;appointment;time;日历;日期;日程;约会;时间;
Keywords[zh_TW]=calendar;date;schedule;appointment;time;
Keywords=calendar;date;schedule;appointment;time;
