[Desktop Entry]
Version=1.0
Exec=pavucontrol-qt
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=Qt;AudioVideo;Audio;Settings;DesktopSettings;
Name=PulseAudio Volume Control
GenericName=Qt GUI for Controlling PulseAudio Volume
Comment=Adjust volume levels and select audio devices
Name[ar]=PulseAudio للتحكم بالصوت
GenericName[ar]=واجهة المستخدم الرسومية لبرنامج Qt للتحكم في مستوى صوت PulseAudio
Comment[ar]=ضبط مستويات الصوت وحدد أجهزة الصوت
Name[bg]=Контрол на звука
GenericName[bg]=Графичен интерфейс за регулиране на силата на звука за PulseAudio
Comment[bg]=Регулиране на нивата на звука и избор на аудио устройства
Name[ca]=Control del volum de PulseAudio
GenericName[ca]=IGU de Qt per controlar el volum de PulseAudio
Comment[ca]=Ajusta els nivells de volum i selecciona dispositius d'àudio
Name[cs]=PulseAudio ovládání hlasitosti
GenericName[cs]=Přizpůsobení úrovně hlasitosti a výběr zvukových zařízení
Comment[cs]=Úprava úrovně hlasitosti a výběr zvukových zařízení
Name[da]=PulseAudio-lydstyrkekontrol
GenericName[da]=Qt GUI til styring af PulseAudio-lydstyrke
Comment[da]=Juster lydstyrken og vælg lydenheder
Name[de]=Lautstärkeregelung PulseAudio
GenericName[de]=Qt-GUI zur Steuerung der PulseAudio-Lautstärke
Comment[de]=Lautstärkepegel anpassen und Audiogeräte auswählen
Name[el]=Έλεγχος έντασης του PulseAudio
GenericName[el]=Γραφικό περιβάλλον Qt για έλεγχο έντασης του PulseAudio
Comment[el]=Ρύθμιση των επιπέδων έντασης και επιλογή των συσκευών ήχου
Name[en_GB]=PulseAudio Volume Control
GenericName[en_GB]=Qt GUI for Controlling PulseAudio Volume
Comment[en_GB]=Adjust volume levels and select audio devices
Name[es]=Control de volumen de PulseAudio
GenericName[es]=Interfaz gráfica de QT para controlar el volumen de Pulse Audio
Comment[es]=Ajustar los niveles de volumen y seleccionar los dispositivos de audio
Name[et]=PulseAudio helitugevuse juhtimine
GenericName[et]=Qt-põhine kasutajaliides PulseAudio helitugevuse juhtimiseks
Comment[et]=Seadista heli valjust ning vali audioseadmeid
Name[fi]=PulseAudion äänenvoimakkuuden hallinta
GenericName[fi]=Qt-graafinen käyttöliittymä PulseAudio-voimakkuuden hallintaan
Comment[fi]=Säädä äänenvoimakkuuta ja valitse äänilaitteet
Name[fr]=Contrôle du volume PulseAudio
GenericName[fr]=Interface graphique Qt pour contrôler le volume de PulseAudio
Comment[fr]=Régler les niveaux de volume et sélectionner les périphériques audio
Name[gl]=Control de volume do PulseAudio
GenericName[gl]=Axusta os niveis de volume e selecciona dispositivos de audio
Comment[gl]=Axusta os niveis de volume e selecciona dispositivos de audio
Name[he]=בקרת עצמת השמע של PulseAudio
GenericName[he]=מנשק משתמש ב־Qt לשליטה בעוצמת השמע ב־PulseAudio
Comment[he]=כוונון עוצמות השמע ובחירת התקני שמע
Name[hi]=पल्सऑडियो वॉल्यूम कंट्रोल
GenericName[hi]=वॉल्यूम कंट्रोल
Comment[hi]=वॉल्यूम लेवल ठीक करें
Name[hr]=PulseAudio kontrola glasnoće
GenericName[hr]=QT sučelje za upravljanje PulseAudio glasnoće
Comment[hr]=Prilagodi razine glasnoće i odaberi audio uređaje
Name[hu]=PulseAudio hangerőszabályzó
GenericName[hu]=Hangerőszabályzó és audioeszköz vezérlés
Comment[hu]=Hangerő beállítása és audioeszköz vezérlés
Name[id]=Kontrol Volume PulseAudio
GenericName[id]=Menyesuaikan tingkat volume dan memilih perangkat suara
Comment[id]=Menyesuaikan tingkat volume dan memilih perangkat suara
Name[it]=Controllo Volumi PulseAudio
GenericName[it]=Interfaccia grafica Qt per il controllo del volume di PulseAudio
Comment[it]=Regola i livelli del volume e seleziona i dispositivi audio
Name[ja]=PulseAudio 音量調節
GenericName[ja]=PulseAudio 音量を調節するための Qt GUI
Comment[ja]=音量レベルの調整とオーディオデバイスを選択します
Name[ka]=PulseAudio-ის ხმის კონტროლი
GenericName[ka]=Qt GUI PulseAudio-ის ხმის დონის კონტროლისთვის
Comment[ka]=მოირგეთ ხმის დონეები და აირჩიეთ აუდიომოწყბილობები
Name[kk]=PulseAudio дыбыс деңгейін басқару
GenericName[kk]=Дыбыс деңгейін басқарып, аудио құрылғыларын таңдаңыз
Comment[kk]=Дыбыс деңгейін басқарып, аудио құрылғыларын таңдаңыз
Name[ko]=PulseAudio 음량 제어
GenericName[ko]=PulseAudio 음량 제어를 위한 Qt GUI
Comment[ko]=음량 수준을 조정하고 오디오 장치를 선택합니다
Name[lg]=Ekifuga butimbifu bw'edoboozi erikolebwako PulseAudio
GenericName[lg]=Obufugiro bw'obukangufu bw'eddoboozi eriva mu PulseAudio obwesigamizidwa ku Qt
Comment[lg]=Teekateeka butumbifu bw'eddoboozi era tegeka ebyuma ebirikolako
Name[lt]=PulseAudio garsio reguliavimas
GenericName[lt]=Qt naudotojo sąsają, skirta PulseAudio garsio reguliavimui
Comment[lt]=Reguliuoti garsio lygius ir pasirinkti garso įrenginius
Name[nb_NO]=PulseAudio-lydstyrkekontroll
GenericName[nb_NO]=Qt-brukerflate for styring av PulseAudio-volum
Comment[nb_NO]=Juster lydstyrke og velg lydenheter
Name[nl]=PulseAudio-volumeregeling
GenericName[nl]=Een Qt-programma om PulseAudio te bedienen
Comment[nl]=Pas volumeniveaus aan en schakel tussen audio-apparaten
Name[oc]=Contraròtle del volum de PulseAudio
GenericName[oc]=Interfàcia grafica Qt per contrarotlar lo volum de PulseAudio
Comment[oc]=Ajustar lo nivèl del volum e seleccionar los periferics àudio
Name[pl]=Kontrola PulseAudio
GenericName[pl]=GUI Qt do sterowania głośnością PulseAudio
Comment[pl]=Dostosuj poziomy głośności i wybierz urządzenia audio
Name[pt]=Controlo de volume PulseAudio
GenericName[pt]=GUI Qt para controlar o volume do PulseAudio
Comment[pt]=Ajustar os níveis de volume e selecionar dispositivos de áudio
Name[ro]=Control volum PulseAudio
GenericName[ro]=Reglați nivelurile de volum și selectați dispozitivele audio
Comment[ro]=Reglați nivelurile de volum și selectați dispozitivele audio
Name[ru]=Регулятор громкости PulseAudio
GenericName[ru]=Пользовательский интерфейс для управления уровнем громкости PulseAudio
Comment[ru]=Регулировка уровня громкости и выбор аудиоустройств
Name[sk]=PulseAudio na ovládanie hlasitosti
GenericName[sk]=Grafické rozhranie Qt na ovládanie hlasitosti PulseAudio
Comment[sk]=Upraviť úroveň hlasitosti a vybrať zvukové zariadenia
Name[sl]=Nastavitev glasnosti PulseAudio
GenericName[sl]=Nastavitev glasnosti
Comment[sl]=Nastavi glasnost
Name[tr]=PulseAudio Ses Denetimi
GenericName[tr]=PulseAudio Ses Seviyesini Kontrol Etmek için Qt GUI
Comment[tr]=Ses seviyelerini ayarlayın ve ses cihazlarını seçin
Name[uk]=Керування гучністю PulseAudio
GenericName[uk]=Qt GUI для керування гучністю PulseAudio
Comment[uk]=Налаштувати рівні гучності та вибрати аудіопристрої
Name[vi]=Điều khiển Âm lượng PulseAudio
GenericName[vi]=Điều chỉnh âm lượng và chọn thiết bị âm thanh
Comment[vi]=Điều chỉnh âm lượng và chọn thiết bị âm thanh
Name[zh_CN]=PulseAudio 音量控制
GenericName[zh_CN]=控制 PulseAudio 音量的 Qt 图形界面
Comment[zh_CN]=设备选择和调整音量
Name[zh_TW]=PulseAudio 音量控制
GenericName[zh_TW]=Qt GUI 用於控制 PulseAudio 音量
Comment[zh_TW]=調整音量與選擇音訊裝置
