[Desktop Entry]
Exec=gnome-clocks
Name=gnome clocks always good to have clocks, though i like sleep ; notify combo too
Type=Application
Version=1.0
X-LXQt-Need-Tray=true
X-LXQt-X11-Only=true
